<section class="flex w-full absolute top-[50%] translate-y-[-50%] justify-center">

    <div class="flex gap-20">
        <div class="flex flex-col max-w-[670px] gap-20">
            <p class="text-[#333e89] text-3xl font-bold">
                Aplikasi Keamanan File Gambar dan Video menggunakan Advanced Encryption Standard dan Teknik Watermarking
            </p>
           
            <div
                class="flex gap-20 justify-center"
            >
                <a href="/daftar" class="text-xl w-[150px] bg-[#8895e4] text-center rounded-md py-2 font-bold text-white border-[#7b87e2] border">Sign Up</a>
                <a href="/login" class="text-xl w-[150px] border-[#303e8c] border-2 rounded-md text-center font-bold py-2">Sign In</a>
            </div>
        </div>
        <img class="w-[300px] h-auto" src="/img/lock-key.png" alt="Lock and Key Picture">
    </div>

</section>