<section class="flex w-full absolute top-[50%] translate-y-[-50%] justify-center">

     <div
          class="p-10 bg-black/20 rounded-xl w-[500px]"
     >
          <form action="" class="flex flex-col">
               <p class="text-[#333e89] text-3xl font-bold text-center">Reset Password</p>
               <div class="mt-20 flex flex-col gap-10">
                    <div class="flex flex-col">
                         <input type="text" class="input-style !rounded-3xl !p-2 !pl-5 !bg-gradient-to-b from-white to-[#8cbae4]" placeholder="Email Address or Username">
                    </div>
               </div>
               <div class="flex justify-end mt-10">
                    <button 
                         type="submit" 
                         class="text-xl px-10 bg-[#8895e4] text-center rounded-2xl py-2 font-bold text-white border-[#7b87e2] border"
                    >
                         Reset
                    </button>
               </div>
          </form>
     </div>
 
 </section>